<%- include('../partials/header2.ejs') %>
    <link rel="stylesheet" href="/Ainfo.css">
    <div class="container">
        <div class="box">
            <form action="/<%= flight._id %>/conedit?_method=PUT" method="POST">
            <div class="infobox">
                
                <p>airlinename :<select name="airlinename" id="" name="infoflight[flightname]" >
                    <% airlines.forEach(function(airline){  %>
                        <option value="<%= airline.airlinename %>"><%= airline.airlinename %></option>
                    <% }); %>
                </select></p>
                <p>from :<input type="text" value="<%= flight.from %>" name="infoflight[from]"> </p>
                <p>to : <input type="text" value="<%= flight.to %>" name="infoflight[to]"></p>
                <p>date :<input type="text" value="<%= flight.date %>" name="infoflight[date]"></p>
                <p>time :<input type="text" value="<%= flight.time %>" name="infoflight[time]">Hour</p>
                <p>class :<input type="text" value="<%= flight.classF %>" name="infoflight[class]"></p>
                <p>stop :<input type="text" value="<%= flight.stop %>" name="infoflight[stop]"></p>
                <p>price :<input type="text" value="<%= flight.price %>" name="infoflight[price]"></p>
                <p>sit :<input type="text" value="<%= flight.sit %>" name="infoflight[sit]"></p>
                <input type="submit" class="delete" value="submit">
            </div>
            </form> 
        </div>
    </div>
<%- include('../partials/footer.ejs') %>