<%- include('../partials/header2.ejs') %>
    <link rel="stylesheet" href="/Ahome.css">
    <script src="Acheck.js" defer></script>
    <div class="container">
        <div class="main">
            
            <button onclick="myFunction()" class="addbut"><strong>ADD Flight</strong></button>
            
            <div class="addflightbox" id="add">
                
                <form action="/addflight" method="POST">
                    
                    <div class="row">
                        <div class="col-sm-4 col-12">
                            <strong class="addin1">Airline name</strong><br>
                            <select name="airlinename" id="" class="addin1">
                                <% airlines.forEach(function(airline){  %>
                                    <option value="<%= airline.airlinename %>"><%= airline.airlinename %></option>
                                <% }); %>
                            </select><br>
                        </div>
                        <div class="col-sm-4 col-6">
                            <strong>Class</strong><br> 
                            <select name="Fclass" id="" class="addin">
                                    <option value="Economy">Economy</option>
                                    <option value="Business">Business</option>
                                    <option value="Firstclass">Firstclass</option>
                            </select>
                        </div>
                        <div class="col-sm-4 col-6">
                            <strong >Stop</strong><br>
                            <input type="number" name="stop" class="addin2">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-12">

                                <strong class="addin3">From</strong>
                                    <div class="row">
                                        <div class="col-6">
                                            <strong class="addin1">Town</strong>
                                            <select name="FTname" id="" class="addin3">
                                                <% towns.forEach(function(town){  %>
                                                    <option value="<%= town.townname %>"><%= town.townname %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                        <strong>Country</strong>
                                            <select name="FCname" id="" class="addin">
                                                <% countrys.forEach(function(country){  %>
                                                    <option value="<%= country.countryname %>"><%= country.countryname %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    
                                
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="row">
                                <strong>To</strong>
                                        <div class="col-6">
                                        <strong>Town</strong>
                                            <select name="TTname" id="" class="addin">
                                                <% towns.forEach(function(town){  %>
                                                    <option value="<%= town.townname %>"><%= town.townname %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                        <strong>Country</strong>
                                            <select name="TCname" id="" class="addin4" >
                                                <% countrys.forEach(function(country){  %>
                                                    <option value="<%= country.countryname %>"><%= country.countryname %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                            </div>    
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-4 col-6">
                            <strong class="addin1">Date</strong><br><input type="date" name="Fdate" class="addin1"><br>
                            <strong class="addin1">Max Seat</strong> 
                            <br><input type="number" name="seat" class="addin1"> 
                        </div>
                        <div class="col-sm-4 col-6">
                            <strong>Departure</strong><br><input type="time" name="departure" class="addin">
                            <strong>Price</strong><br><input type="number" name="price" class="addin">
                        </div>
                        <div class="col-sm-4 col-12">
                            <strong>Total time</strong><br><input type="number" name="time" class="addin2">
                            <span class="hi"><br><br></span><input type="submit" class="addinbut" value="ADD">
                        </div>
                    </div>
                </form>   
            </div>

            <div class="searchbox">
                <div class="headL">search</div>
                <form action="/adminhomeS" method="POST">
                <div class="row">
                    <div class="col-sm-3 col-12">
                        <a id="search">From</a>
                            <select name="Sfrom" id="from" class="input1">
                                <% ofrom.forEach(function(flight){  %>
                                    <option value="<%= flight %>" ><%= flight %></option>
                                <% }); %>
                            </select>
                    </div>
                    <div class="col-sm-3 col-12">
                        <a id="search">To</a>
                        <select name="Sto" id="to" class="input1">
                            <% oto.forEach(function(flight){  %>
                                <option value="<%= flight %>"><%= flight %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-sm-3 col-12">
                        <a id="search">Class</a>
                        <select name="Sclass" id="" class="input1 cs">
                            <% oclass.forEach(function(flight){  %>
                                <option value="<%= flight %>"><%= flight %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-sm-3 col-12">
                        <a id="search">Stop</a>
                        <select name="Sstop" id="" class="input1 cs">
                            <% ostop.forEach(function(flight){  %>
                                <option value="<%= flight %>"><%= flight %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-12">
                        <a id="search">Departure Date</a>
                        <select name="Sdated" id="" class="input1 dep">
                            <% odate.forEach(function(flight){  %>
                                <option value="<%= flight %>"><%= flight %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-sm-3 col-12">
                        <input type="checkbox" class="check" id="check" onclick="show()" name="re">
                        <label for="re">ReturnDate</label>
                        <select name="Sdateb" class="input1 dep" id="date" style="display: none;">
                            <% flights.forEach(function(flight){  %>
                                <option value="<%= flight.date %>"><%= flight.date %></option>
                            <% }); %>
                        </select>
                    </div>

                    <div class="col-3">
                    </div>

                    <div class="col-sm-3 col-12">
                        <input type="submit" class="submit" value="Search Flights">
                    </div>
                </div>
                </form>
            </div>

            <div class="allF"><strong>All flight</strong></div>
            <div class="sort">
                sort by :   <input type="radio" id="male" name="sort" value="none" onclick="sortnone()">
                            <label for="none">none</label> 
                            <input type="radio" id="male" name="sort" value="time" onclick="sorttime()">
                            <label for="time">time</label> 
                            <input type="radio" id="male" name="sort" value="price" onclick="sortprice()">
                            <label for="price">price</label>
            </div>  

            <div id="sortn">
                <% flightn.forEach(function(flight){  %>
                    <a href="/Ainfo/<%= flight._id %>" class="flighta" >
                        <div class="flightbox">
                           <div class="row">


                            <div class="col-2 hi">
                                <img src="<%= flight.img %>" class="image">
                            </div>


                            <div class="col-sm-2 col-12">
                                <p class="flight1"><strong><%= flight.airlinename %></strong></p>
                                <p class="flight1-2">From : <%= flight.from %></p>
                            </div>

                            <div class="col-sm-2 col-12">
                                <p class="flight">To : <span id="To"><%= flight.to %></span></p>
                            </div>

                            <div class="col-sm-2 col-12 hi">
                                <p class="flight">Date : <%= flight.date %></p>
                            </div>

                            <div class="col-sm-2 col-12 hi">
                                <p class="flight">Departure: <%= flight.departure %></p>
                            </div>

                            <div class="col-sm-2 col-12">
                                <p class="flight">Price : <%= flight.price %></p>
                            </div>
                            
                        </div> 
                        </div>
                </a>
                <% }); %>
                </div>
    
                <div id="sortt">
                <% flightt.forEach(function(flight){  %>
                    <a href="/Ainfo/<%= flight._id %>" class="flighta" >
                        <div class="flightbox">
                           <div class="row">


                            <div class="col-2 hi">
                                <img src="<%= flight.img %>" class="image">
                            </div>


                            <div class="col-sm-2 col-12">
                                <p class="flight1"><strong><%= flight.airlinename %></strong></p>
                                <p class="flight1-2">From : <%= flight.from %></p>
                            </div>

                            <div class="col-sm-2 col-12">
                                <p class="flight">To : <span id="To"><%= flight.to %></span></p>
                            </div>

                            <div class="col-sm-2 col-12 hi">
                                <p class="flight">Date : <%= flight.date %></p>
                            </div>

                            <div class="col-sm-2 col-12 hi">
                                <p class="flight">Departure: <%= flight.departure %></p>
                            </div>

                            <div class="col-sm-2 col-12">
                                <p class="flight">Price : <%= flight.price %></p>
                            </div>
                            
                        </div> 
                        </div>
                </a>
                <% }); %>
                </div>
    
                <div id="sortp">
                <% flightp.forEach(function(flight){  %>
                    <a href="/Ainfo/<%= flight._id %>" class="flighta" >
                        <div class="flightbox">
                           <div class="row">


                            <div class="col-2 hi">
                                <img src="<%= flight.img %>" class="image">
                            </div>


                            <div class="col-sm-2 col-12">
                                <p class="flight1"><strong><%= flight.airlinename %></strong></p>
                                <p class="flight1-2">From : <%= flight.from %></p>
                            </div>

                            <div class="col-sm-2 col-12">
                                <p class="flight">To : <span id="To"><%= flight.to %></span></p>
                            </div>

                            <div class="col-sm-2 col-12 hi">
                                <p class="flight">Date : <%= flight.date %></p>
                            </div>

                            <div class="col-sm-2 col-12 hi">
                                <p class="flight">Departure: <%= flight.departure %></p>
                            </div>

                            <div class="col-sm-2 col-12">
                                <p class="flight">Price : <%= flight.price %></p>
                            </div>
                            
                        </div> 
                        </div>
                </a>
                    <% }); %>
                </div>


        </div>
    </div>
<%- include('../partials/footer.ejs') %>