<%- include('partials/header.ejs') %>

<link rel="stylesheet" href="acount.css">
    <div class="container">

            <div class="acountbox">

                <div class="headL">My Account</div>

                <div class="row">

                    <div class="col-sm-6 nl">
                        <div class="ln world">
                            <strong>First Name : </strong><%= currentUser.FirstName %>
                        </div>
                    </div>
                    <div class="col-sm-6 pl" >
                        <div class="ln world">
                            <strong>Last Name : </strong><%= currentUser.LastName %>
                        </div>  
                    </div>

                </div>

                <div class="row">

                        <div class="col-sm-3 col-6 ln ml pr">
                            <div class=" world">
                                <strong>Age : </strong><%= currentUser.Age %>
                            </div>       
                        </div>
                            
                        
                        <div class="col-sm-3 col-6 ml ln">
                            <div class="world">
                                <strong>Gender: </strong><%= currentUser.gender %> 
                            </div>  
                        </div>


                        <div class="col-sm-6 col-12 pl">
                            <div class="ln world">
                              <strong>Phone Number : </strong><%= currentUser.PhoneNumber %> 
                            </div>
                        </div>  

                </div> 
                
                <div class="row">

                    <div class="col-sm-6 col-12 ml pr">

                        <div class="ln world">
                          <strong>Emai : </strong><span class="c"><%= currentUser.email %> </span>
                        </div>
                        
                        <a href="<%= currentUser._id %>/edit">
                            <input type="button" value="Edit" class="edit hi2">
                        </a>

                        <div class="point hi">
                            <strong>Your have <span class="point2"><%= currentUser.point %></span>  Point</strong>   
                        </div>

                    </div>

                    <div class="col-sm-6 col-12 pl">
                        <div class="point hi2">
                            <strong>Your have <span class="point2"><%= currentUser.point %></span>  Point</strong>   
                        </div>


                        <a href="<%= currentUser._id %>/edit">
                            <input type="button" value="Edit" class="edit hi">
                        </a>

                    </div>

                </div>


               
                                    
            </div>                                                              
    </div>  
<%- include('partials/footer.ejs') %>