<%- include('partials/header.ejs') %>

<link rel="stylesheet" href="acount.css">
    <div class="container">
            <div class="acountbox">
                <div class="row">
                    <div class="col-6" id="text">
                        <p id="Myac">My Acount</p>
                        <div class="row">
                            <div class="col-5" id="text">
                                <p><a>First Name</a></p>
                                <p>Last Name  </p>
                                <p>Age </p>
                                <p>Gender  </p>
                                <p>Phone Number </a></p>
                                <p>Email </p>
                                <input type="button" value="Edit" class="edit">
                            </div>  
                            <div class="col-7   ">
                                <p><a id="Fname"><%= currentUser.FirstName %></a></p>
                                <p><a id="Lname"><%= currentUser.LastName %></a></p>
                                <p><a id="age"><%= currentUser.Age %></a></p>
                                <p><a id="gender"><%= currentUser.gender %></a></p>      
                                <p><a id="phone"></a><%= currentUser.PhoneNumber %></p>
                                <p><a id="email"></a><%= currentUser.email %></p>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-6" id="out">
                            <h3 class="ypoint">Your Point :</h3>
                            <h3 id="point"> <%= currentUser.point %> </h3>   
                    </div>
                </div>
            </div>  
    </div>
<%- include('partials/footer.ejs') %>