<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/bookinfo.css">
<div class="container">
    <div class="box">
    
    <% flight.forEach(function(flight){  %>       
        <% if( flight._id == book.flightid ){%>   
        <div class="infobox">
                <div class="row">    
                    <div class="col-sm-3 col-12" id="img">
                        <img src="<%= flight.img %>" class="img hi2">
                        <p id="airname"> <strong><%= flight.airlinename %></strong></p>
                    </div>
                        
                        <div class="col-sm-9  col-12 boxr9">
                            <div class="boxr">
                                <div class="boxr2">
                                    <div class="infotop">
                                        <strong class="box3">Class : <%= flight.classF %></strong>
                                    </div>

                                    <div class="row" >    
                                        <div class="col-sm-6  col-12 boxr5">
                                            <strong class="box2">From : <%= flight.from %></strong>
                                        </div>
                                        <div class="col-sm-6 col-12" >
                                            <strong class="box2">To : <%= flight.to %></strong>
                                        </div>
                                    </div>
                                </div> 
                            </div> 
                            <div class="boxr2">
                                <div class="row">    
                                    <div class="col-sm-4 col-12 boxr6">
                                        <div class="box1"><strong>Date : <%= flight.date %></strong><br></div>
                                        <div class="box1"><strong >Travel Time : <%= flight.time %> H</strong></div>                             
                                    </div>
                                    <div class="col-sm-4 col-12 boxr6">
                                        <div class="pm2"><strong class="pm">Departure : <%= flight.departure %></strong><br></div>
                                        <div class="pm2"><strong class="pm">Seat : <%= flight.seat %></strong></div>     
                                    </div>
                                    <div class="col-sm-4 col-12 ">
                                        <div class="pm2"><strong class="pm">Stop : <%= flight.stop %></strong><br></div>
                                        <div class="pm3"><strong class="pm">Price : <%= flight.price %></strong></div>
                                    </div>
                                </div>
                            </div>

                </div>
            </div>
        </div>

        <div class="infobox2">
                <div class="boxr3">
                    Booking details
                </div>

                <div class="row">
                    <div class="col-sm-8 col-12 boxr5">
                        <span class="bookr"><strong><%= flight.airlinename %></strong></span><br>
                        <span class="bookr"><strong>Number of ticket </strong><span class="t11"><%= book.ticket %></span></span><br>
                        <span class="bookr"><strong>Receive point </strong><span id="point" class="bookr4"><%= flight.price /10 %></span> Point</span> 
                        <input type="number" name="rpoint" style="display: none;" value="<%= book.point %>">
                    </div>

                    <div class="col-sm-4 col-12 box10">

                    <div class="boxr2">
                        <span class="bookr bookrx">Price :<span class="bookr2"><span id="price"><%= flight.price %></span><br></span></span>
                        <span class="bookr3"><span id="seatnum2" ><%= book.ticket %></span></span>
                    </div>

                    <div class="boxr2">
                        <span class="bookr bookrx"><strong>Total</strong> <span class="bookr2" id="total"><%= flight.price *  book.ticket %></span></span>
                    </div>

                    
                    </div>
                </div> 
        </div>

            <form action="/<%= book._id %>/cancel?_method=DELETE" method="POST">
                <input type="submit" class="confirm" value="Cancel flight">
            </form>
        <% }; %>
    <% }); %>
    

    </div>
</div>

<%- include('partials/footer.ejs') %>