<%- include('partials/header.ejs') %>
    <link rel="stylesheet" href="booking.css">
    <div class="container">
        <div class="main">
            <h1>MY booking</h1>
            
            <% book.forEach(function(book){  %>
                <% flight.forEach(function(flight){  %>
                    <% if( flight._id == book.flightid ){%>
                        <div class="box">  
                        <a href="<%= book._id %>/bookinfo" class="bookbox">
                            <div class="info1"><strong>Booking id: <%= book._id %></strong></div>    
                            <div class="row">
                                <div class="col-3 pd1">
                                    <img src="<%= flight.img %>" class="image">
                                </div>
                                <div class="col-9 pd2">
                                    <div class="row">
                                        <div class="col-sm-4 col12 info2">

                                              <strong><%= flight.airlinename %></strong><br>
                                                <strong>From: <%= flight.from %></strong>  

                                        </div>
                                        <div class="col-sm-4 col12 info2">

                                                <br>
                                                <strong>To: <%= flight.to %></strong>

                                        </div>
                                        <div class="col-sm-4 col12 info2">

                                                <br>
                                                <strong>Date: <%= flight.date %></strong>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        </div>
                    <% }; %>
                <% }); %>
            <% }); %>

            

        </div>
    </div>
<%- include('partials/footer.ejs') %>