<%- include('partials/header.ejs') %>

<link rel="stylesheet" href="/edit.css">
    <div class="container">

            <div class="acountbox">
            <form action="/<%= currentUser._id %>?_method=PUT" method="POST">
                <div class="headL">My Account</div>

                <div class="row">

                    <div class="col-sm-6 nl">
                        <div class="ln world">
                            <strong>First Name : </strong> <input type="text" class="inm" value="<%= currentUser.FirstName %>" name="useraccount[FirstName]">
                        </div>
                    </div>
                    <div class="col-sm-6 pl" >
                        <div class="ln world">
                            <strong>Last Name : </strong><input type="text" class="inm" value="<%= currentUser.LastName %>" name="useraccount[LastName]">
                        </div>  
                    </div>

                </div>

                <div class="row">

                        <div class="col-sm-3 col-6 ln ml pr">
                            <div class=" world">
                                <strong>Age : </strong><input type="number" class="inm" value="<%= currentUser.Age %>" name="useraccount[Age]">
                            </div>       
                        </div>
                            
                        
                        <div class="col-sm-3 col-6 ml ln">
                            <div class="world">
                                <strong>Gender : </strong>
                                <select id="" class="inm2" name="useraccount[gender]">
                                    <option value="male">male</option>
                                    <option value="female">female</option>
                                    <option value="other">other</option>
                                </select>
                            </div>  
                        </div>


                        <div class="col-sm-6 col-12 pl">
                            <div class="ln world">
                                <strong>Phone Number : </strong><input type="text" class="inm"  value="<%= currentUser.PhoneNumber %>" name="useraccount[PhoneNumber]"> 
                            </div>
                        </div>  

                </div> 
                
                <div class="row">

                    <div class="col-sm-6 col-12 ml pr">
                        
                        <div class="ln world">
                          <strong>Emai : </strong><span class="c"><%= currentUser.email %> </span>
                        </div>
                        
                        <span class="hi2"><input type="submit" value="Confirm" class="edit"></span>
                        
                        <div class="point hi">
                            <strong>Your have <span class="point2"><%= currentUser.point %></span>  Point</strong>   
                        </div>

                    </div>

                    <div class="col-sm-6 col-12 pl">

                        <div class="point hi2">
                            <strong>Your have <span class="point2"><%= currentUser.point %></span>  Point</strong>   
                        </div>
                        <span class="hi"><input type="submit" value="Confirm" class="edit"></span>
                    </div>

                </div>


               
            </form>                       
            </div>                                                              
    </div>  
<%- include('partials/footer.ejs') %>
