<%- include('partials/header.ejs') %>
    <link rel="stylesheet" href="home.css">
    <script src="check.js" defer></script>
    <div class="container">
        <div class="main">

            <div class="searchbox">
                <div class="headL">search</div>
                <form action="/adminhomeS" method="POST">
                <div class="row">
                    <div class="col-3">
                        <a id="search">From</a><br>
                            <select name="Sfrom" id="SForm" class="input1">
                                <% ofrom.forEach(function(flight){  %>
                                    <option value="<%= flight %>" ><%= flight %></option>
                                <% }); %>
                            </select>
                    </div>
                    <div class="col-3">
                        <a id="search">To</a>
                        <select name="Sto" id="" class="input1">
                            <% oto.forEach(function(flight){  %>
                                <option value="<%= flight %>"><%= flight %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-3">
                        <a id="search">Class</a>
                        <select name="Sclass" id="" class="input1">
                            <% oclass.forEach(function(flight){  %>
                                <option value="<%= flight %>"><%= flight %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-3">
                        <a id="search">Stop</a>
                        <select name="Sstop" id="" class="input1">
                            <% ostop.forEach(function(flight){  %>
                                <option value="<%= flight %>"><%= flight %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <a id="search">Departure Date</a>
                        <select name="Sdated" id="" class="input1">
                            <% odate.forEach(function(flight){  %>
                                <option value="<%= flight %>"><%= flight %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-3">
                        <input type="checkbox" class="check" id="check" onclick="show()">
                        <a>ReturnDate</a>
                        <select name="Sdateb" class="input1" id="date" style="display: none;">
                            <% odate.forEach(function(flight){  %>
                                <option value="<%= flight %>"><%= flight %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-3">

                    </div>
                    <div class="col-3">
                        <input type="submit" class="submit" value="Search Flights">
                    </div>
                </div>
                </form>
            </div>

            <div class="allF"><strong>All flight</strong></div>
            
            <div class="sort">
                sort by :   <input type="radio" id="male" name="sort" value="none" onclick="sortnone()">
                            <label for="none">none</label> 
                            <input type="radio" id="male" name="sort" value="time" onclick="sorttime()">
                            <label for="time">time</label> 
                            <input type="radio" id="male" name="sort" value="price" onclick="sortprice()">
                            <label for="price">price</label>
            </div>  

            <div id="sortn">
                <% flightn.forEach(function(flight){  %>
                    <a href="/info/<%= flight._id %>" class="flighta" >
                        <div class="flightbox">
                           <div class="row">
                            <div class="col-2">
                                <img src="<%= flight.img %>" class="image">
                            </div>
                            <div class="col-2">
                                <p class="flight1"><strong><%= flight.airlinename %></strong></p>
                                <p>From: <%= flight.from %></p>
                            </div>
                            <div class="col-2">
                                <p class="flight">To:<span id="To"><%= flight.to %></span></p>
                            </div>
                            <div class="col-2">
                                <p class="flight">Date: <%= flight.date %></p>
                            </div>
                            <div class="col-2">
                                <p class="flight">Departure: <%= flight.departure %></p>
                            </div>
                            <div class="col-2">
                                <p class="flight">Price: <%= flight.price %></p>
                            </div>
                        </div> 
                        </div>
                </a>
                <% }); %>
                </div>
    
                <div id="sortt">
                <% flightt.forEach(function(flight){  %>
                    <a href="/info/<%= flight._id %>" class="flighta" >
                        <div class="flightbox">
                           <div class="row">
                            <div class="col-2">
                                <img src="<%= flight.img %>" class="image">
                            </div>
                            <div class="col-2">
                                <p class="flight1"><strong><%= flight.airlinename %></strong></p>
                                <p>From: <%= flight.from %></p>
                            </div>
                            <div class="col-2">
                                <p class="flight">To:<span id="To"><%= flight.to %></span></p>
                            </div>
                            <div class="col-2">
                                <p class="flight">Date: <%= flight.date %></p>
                            </div>
                            <div class="col-2">
                                <p class="flight">Departure: <%= flight.departure %></p>
                            </div>
                            <div class="col-2">
                                <p class="flight">Price: <%= flight.price %></p>
                            </div>
                        </div> 
                        </div>
                    </a>
                <% }); %>
                </div>
    
                <div id="sortp">
                <% flightp.forEach(function(flight){  %>
                        <a href="/info/<%= flight._id %>" class="flighta" >
                                <div class="flightbox">
                                   <div class="row">
                                    <div class="col-2">
                                        <img src="<%= flight.img %>" class="image">
                                    </div>
                                    <div class="col-2">
                                        <p class="flight1"><strong><%= flight.airlinename %></strong></p>
                                        <p>From: <%= flight.from %></p>
                                    </div>
                                    <div class="col-2">
                                        <p class="flight">To:<span id="To"><%= flight.to %></span></p>
                                    </div>
                                    <div class="col-2">
                                        <p class="flight">Date: <%= flight.date %></p>
                                    </div>
                                    <div class="col-2">
                                        <p class="flight">Departure: <%= flight.departure %></p>
                                    </div>
                                    <div class="col-2">
                                        <p class="flight">Price: <%= flight.price %></p>
                                    </div>
                                </div> 
                                </div>
                        </a>
                    <% }); %>
                </div>

        </div>
    </div>
<%- include('partials/footer.ejs') %>