<%- include('partials/header.ejs') %>
    <!-- <link rel="stylesheet" href="info.css"> -->
    <div class="container">
        <div class="box">
            <div class="infobox">   
                <p>flightname : <%= flight.flightname %></p>
                <p>from : <%= flight.from %></p>
                <p>to : <%= flight.to %></p>
                <p>date :   <%= flight.date %></p>
                <p>time : <%= flight.time %></p>
                <p>classF : <%= flight.classF %></p>
                <p>stop : <%= flight.stop %></p>
                <p>price : <%= flight.price %></p>
                <p>sit : <%= flight.sit %></p>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>